/*# sourceMappingURL=index.css.map */

@import url('https://fonts.googleapis.com/css?family=Heebo:300|Playfair+Display:400,700&display=swap');


* {
  box-sizing: border-box;
}

body {
  font: 100% Helvetica, sans-serif;
  color: white;
  background: #121212 !important;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

// typography
a{
  transition: ease 0.3s color;
}

h1 {
  font-family: 'Playfair Display';
  font-weight: 700;
}

h2 {
  font-family: 'Playfair Display';
  font-size: 17px;
  font-weight: normal;
  text-align: center;
}


h3 {
  font-family: 'Heebo';
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-align: center;

}

p{
  font-family: 'Playfair Display';
  font-size: 15px;
  line-height: 35px;
  color: #fff;
}

img {
  max-width: 100%;
}

.large {
  font-size: 24px !important;
  margin: 0px;
}
// typography


// utility class

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0px -30px;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
// utility class
.m0{
  margin: 0px !important;
}

// navigation
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 360px;

  a{
    transform: rotate(-90deg);
    text-decoration: none;
    color: #fff;
    font-family: 'Heebo';
    font-size: 14px;
    transition: all 0.3s ease;
    transform-origin: center;
    &:nth-child(1){
      margin-top: -15px;
    }
    &:nth-child(5) {
      margin-top: -15px;
    }
    &:hover{
      color: #BB86FC;
    }
  }
  a.active{
    cursor: pointer;
    transform: scale(1.2);
  }
}
#mobile{
  display: none;
}
.sidebar {
  height: 100%;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background: #1F1F1F;
}

.hamburger{
  cursor: pointer;
  text-align: center;
}

.indicator{
  height: 22px;
  width: 22px;
  transform: scale(1);
  border-radius: 1000px;
  background-color: #BB86FC;
  transition: all 0.6s ease;
  transform-origin: center;
  position: relative;
  top: 30px;
  &:hover{
    cursor: pointer;
    transform: scale(1.5);
  }
}
// navigation

// general style

.purple-bg {
  background: #3700B3;
  width: 50%;
  background-size: cover;
  background-position: center;
  .image {
    height: 100%;
    width: 100%;
    background: url(../img/placeholder.jpg);
    background-size: cover;
    background-position: center;
    transform: translateY(-1000px);
  }
}

article{
  width: 50%;
  padding: 0px 10px;
  background: #1F1F1F;
}

.search{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  transform: translateY(1000px);
}

.headline-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(1000px);
}

.seperator{
    width: 100%;
    border-top: 1px solid;
    margin: 45px 0px;
}

.text-wrapper{
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 80%;
  margin: auto;
  transform: translateY(1000px);
  p{
    &:first-child:first-letter{
      float: left;
      font-size: 64px;
      line-height: 52px;
      padding: 5px 12px 0px 0px;
      color: #BB86FC;
    }
    a{
      color: #BB86FC;
    }
  }
}

#contact{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
  h3{
    font-size: 18px;
    margin-bottom: 20px;
    width: 100%;
  }
  a{
    color: #fff;

    i {
      font-size: 32px;
      margin: 0px 15px;
    }
    &:hover {
      color: #BB86FC;
      cursor: pointer;
    }
  }
}
// general style

// projects page
#projects{
  width: 100%;
  .container{
    width: 80%;
    margin: auto;
    h3{
      font-size: 24px;
    }
    .banner-img{
      background-color: #BB86FC;
      position: relative;
      width: 100%;
      padding-top: 50vh;
        img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            width: 100%;
            height: 50vh;
            object-fit: cover;
            object-position: top;
        }
    }
    #banner-overlay{
      background-color: #1F1F1F;
      width: 75%;
      margin: auto;
      margin-top: -50px;
      padding: 30px;
      position: relative;
      text-align: center;
      a{
        color: #fff;
        transition: ease 0.3s color;
          &:hover {
            color: #BB86FC;
            cursor: pointer;
          }
      }
    }
    .card{
      margin: 60px 0px;
      -ms-flex:0 0 33.333333%;
      flex:0 0 33.333333%;
      max-width:33.333333%;
      padding: 0px 15px;
      img{
        height: 550px;
        width: 100%;
        object-fit: cover;
      }
      .card-overlay{
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: #1F1F1F;
          width: 75%;
          min-height: 345px;
          margin: auto;
          margin-top: -50px;
          padding: 30px;
          position: relative;
          text-align: center;
          a{
            color: #fff;
          }
      }
    }
  }
}

// contact 
#contactForm{
  position: relative;
  height: 100%;
  width: 100%;
  .custom-container{
    width: 80vh;
    height: 60vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    .container {
      width: 80%;
      height: 80%;
      margin: auto;
      .row {
        display: flex;
        height: 100%;
        .col {
          flex-basis: 100%;
          height: 100%;
        }
      }
      form{
        display: flex;
        flex-flow: column;
        justify-content: center;
        height: 100%;
        .wrapper{
          display: flex;
          flex-direction: column;
        }
        label{
          color: #c1c1c1;
          position: absolute;
          transform: translateY(15px);
        }
        input{
          border: none;
          border-bottom: 2px solid #c1c1c1;
          margin: 30px 0px;
          background: none;
          position: relative;
          z-index: 2;
          &:focus {
            outline: none;
            border: none;
            border-bottom: 2px solid #7581FF;
          }

        }
        
        input[type=submit]{
            background: #BB86FC;
            color: #fff;
            border: none;
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: 1px;
            padding: 1.1rem 0;
            cursor: pointer;
            border-radius: .4rem;
            box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
            overflow: hidden;
            position: relative;
            transition: all .2s;
        }
        label.active {
          animation: 0.6s up forwards;
        }
        @keyframes up {
          from {
            transform: translateY(15px);
          }

          to {
            transform: translateY(5px);
            color: #7581FF;
            font-size: 0.75rem;
          }
        }
      }
    }
    .inner-container{
      height: 100%;
    }
    .header{
      background: #e2e2e2;
      height: 20%;
      .container{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h3{
        margin: 0px;
        color: #000;
        font-weight: 600;
        font-size: 32px;
      }
    }
  }
  .message-sent{
    text-align: center;
    background: #52e452;
    border-radius: 0.4rem;
    p{
      color: #fff;
      font-size: 18px;
    }
  }
  .message-failed{
    text-align: center;
    background: #e45252;
    border-radius: 0.4rem;
    p{
      color: #fff;
      font-size: 18px;
    }
  }
}

// sidebar library styles
.simplebar-wrapper{
  max-height: 100% !important;
}

// media queries

// tablets/mobile
@media only screen and (max-width: 780px) {
  body {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding-top: 100px;
  }
  article{
    width: 100%;
    padding-top: 30px;
    background: inherit;
  }
  nav{
    display: none;
  }
  .indicator{
    top: 0;
  }
  article, .simplebar-offset, .simplebar-content-wrapper, .simplebar-content{
    height: 100%;
  }
  .fix.container {
    width: 80%;
    margin: auto;
  }
  .fix{
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    #nav-icon3 span:nth-child(1) {
      top: 25%;
      right: 0;
      margin: 0px;
      left: auto;
    }

    #nav-icon3 span:nth-child(2),
    #nav-icon3 span:nth-child(3) {
      top: 50%;
      right: 0;
      margin: 0px;
      left: auto;
    }

    #nav-icon3 span:nth-child(4) {
      bottom: 0;
      top: 35px;
      right: 0;
      margin: 0px;
      left: auto;
    }
  }
  #mobile {
    display: none;
  }
  #sidebar{
    padding: 0px;
  }
  .is-opened{
    display: flex !important;
  }
  .hamburger-navigation
   {
    background: #121212 !important;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  .hamburger-navigation.is-opened li {
    opacity: 1;
    transform: translateY(0) rotate(0);
    pointer-events: auto;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    a{
      color: #fff;
      font-size: 24px;
    }
  }

  .hamburger-navigation li {
    width: 100%;
    float: left;
    opacity: 0;
    pointer-events: none;
    display: block;
    transition: transform 0.3s, opacity 0.3s;
    transform: translateY(100%);
    transition-timing-function: ease-out;
    margin: 10px 0;
  }
  .purple-bg{
    width: 100%;
  }
  .purple-bg .image{
    height: 30vh;
  }
  .sidebar {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    /* padding: 50px; */
    background: #1F1F1F;
    position: fixed;
    top: 0;
    z-index: 99;
  }
}

@media only screen and (min-width: 780px) {
  .sidebar > div {
    height: 100%;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: #1F1F1F;
  }
}
// laptop
@media only screen and (max-width: 1440px) {
  #projects .container .card .card-overlay {
    width: 95%;
  }
}

@media only screen and (max-width: 1280px) {
  #projects .container #banner-overlay{
    width: 95%;
  }
  #projects .container .card {
    margin: 60px 0px;
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    padding: 0px 15px;
  }
}


// hamburger menu
#nav-icon3 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 30px 0px;
  -webkit-transform: rotate(0deg) scale(0.8);
  -moz-transform: rotate(0deg) scale(0.8);
  -o-transform: rotate(0deg) scale(0.8);
  transform: rotate(0deg) scale(0.8);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 40px;
  background: #BB86FC;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 12px;
}

#nav-icon3.open span:nth-child(4){
  display: none;
}

#nav-icon3 span:nth-child(4) {
  top: 24px;
}

#nav-icon3.open span:nth-child(1) {
  top: 24px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
